@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
div.adWrapper {
    position: relative;
    height: 700px;
    margin-top: 20px;
  }
  
  div.adImage img {
    max-width: 80%;
    height: auto;
    display: block;
    border: 3px white solid;

  }
  
  div.adTitle {
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    bottom: 10%;
    right: 10%;
    background: rgba(230,218,200);
    color: #9b846e;
    max-height: 350px;
    max-width: 250px;
    width: auto;
    padding: 5%;
  }
  
  div.adTitle h3 {
    font-size: 5vh;
  }
  
  div.adTitle p {
    font-size: 13px;
  }
  @media screen and (min-width: 800px) {
    div.adWrapper {
      position: relative;
      height: 700px;
      margin-top: 20px;
      margin-bottom: 100px;
    }

    div.adImage img {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
      max-width: 100%
    }
  }