.example{
    max-width: 100%;
    margin-top: 20px;
    padding: 5px;  
  }
  
  .examplePic{
    margin-left: 1%;
    max-width: 30%;
    margin: 1%;
   border: 3px #f2e3dc solid;
  }

  .button {
    background: #f2e3dc;
    border: 1px white solid;
    color: #a48f72
  }
  