.example{
    max-width: 100%;
    margin-top: 20px;
    padding: 5px;  
  }
  
  .examplePic{
    margin-left: 1%;
    max-width: 30%;
    margin: 1%;
   border: 3px #faf8eb solid;
  }

  .button {
    background: #faf8eb;
    border: 1px white solid;
    color: white;
  }
  