.example{
    max-width: 100%;
    margin-top: 20px;
    padding: 5px;  
  }
  
  .examplePic{
    margin-left: 1%;
    max-width: 30%;
    margin: 1%;
   border: 3px #b1957d solid;
  }

  .button {
    background: #b1957d;
    border: 1px white solid;
    color: b1957d;
  }
  