.topNav {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .navibar{
    width: 100%;
    border-bottom:  #f2e3dc 5px solid;
  }

  .logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1vh;
  }

 .navbar-toggler{
    background-color:#f2e3dc ;
    border: 1px white solid;
  }