.topNav {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
  }


  .navibar{
    width: 100%;
    color: #9b846e;
    border-bottom:  rgba(230,218,200) 5px solid;
  }

  .navItem a{
    float: right;
  }

  .logo {
    border-radius: 50%;
    width: 100px;   
     height: 100px;
    margin: 1vh;
  }

 .navbar-toggler{
    background-color:rgba(230,218,200) ;
    border: 1px white solid;
  }

  @media screen and (min-width: 600px) {
    .navItem{
      padding: 10px;
      font-size: 24px;
      
    }
    .logo {
      border-radius: 50%;
      width: 200px;   
       height: 200px;
      margin: 1vh;
    }
  }