.topNav {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .navibar{
    width: 100%;
    border-bottom:  #faf8eb 5px solid;
  }

  .logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1vh;
  }

 .navbar-toggler{
    background-color:#faf8eb ;
    border: 1px white solid;
  }