@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
div.faqtitle {
    text-align: center;
    font-family: 'STIX Two Math', serif;
    color: #d2c6b1;   
    text-shadow: white; 
    padding: 10px;
}

.collapseButton{
    text-align: left;
}

.collapseBody{
    font-family: 'STIX Two Math', serif;
    font-size: small;
}