@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Rajdhani:wght@300&display=swap');
.jumbo{
    margin-top: 20px;
    background:white;
   width:100%;
   height: auto;
   margin-left: 0px;
  }
  
  .jumboTitle{
    position: relative;
    background: #b1957d;
    color: b1957d;
    
  }
  
  .jumboText{
    margin: 2px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .titleDiv{
    width: 80%;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif;  }
  
  .jumboButton{
    font-family: 'Bitter', serif;;
  }
  
  .descriptionDiv{
    font-family: 'Bitter', serif;;
  }
  
  

  .jumboImage{
    width:100%;
  }
  
  .button {
    background: #b1957d;
    border: 1px white solid;
    font-size: smaller;
  }

  .titleDiv h4{
    letter-spacing:0.43em;
    font-size: larger;
  }

  .image-fit {
    object-fit: fill;
  }

    a
{
  padding:0px;
  }