
.jumbo{
    margin-top: 20px;
    background:white;
   max-width:100%;
   height: auto;
   margin-left: 0px;
  }
  
  .jumboTitle{
    position: relative;
    background: #e1c699;
    padding: 2vw;
    color: white;
    
  }
  
  .jumboText{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .titleDiv{
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
  }
  .leafDiv{
    width:100%;
    margin-left: 70px;
    margin-bottom: 2px
  }
  .jumboButton{
    margin-top: 50px;
    margin-left: 10px; 
  }
  
  .descriptionDiv{
    margin-left: 20px;
  }
  
  .leaf{
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    color: white;
  }

  .jumboImage{
    width:100%;
  }
  
  .button {
    background: #e1c699;
    border: 1px white solid;
  }

  .titleDiv h4{
    letter-spacing:0.43em;
    margin-bottom: 10px;
  }

  .image-fit {
    object-fit: fill;
  }