@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,900&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  background-size: cover;
  background-color: #fde9d7 ;

}

i{
  color:white;
}

a{
  color: white;
}

.icons{
  width: 100px
}



.navItem{
  width: 100%;
  padding: 1vh;
}
.navbar{
  margin-right: 3vw;
}

.logo{
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  margin: 1vh;
}

div.adWrapper{
  position: relative;
  height: 700px;
}

div.adImage img{
  max-width: 80%;
  height: auto;
  display: block;
}


div.adTitle{
  position: absolute;
  bottom: 5%;
  right: 10%;
  background-color: white ;
  color: black;
  max-height: 350px;
  max-width: 250px;
  width: auto;
  padding:5%;
}

div.adTitle h3{
 font-size: 5vh
}

div.adTitle p{
  font-size: 2vh
 }


.button{
  max-width: 50%;
  margin-top: 1vh;
  font-size: 1vh;
}



.main{
  max-width: 100%;
  overflow:visible;
  height: auto;
}

div.jumbo{
  position: relative;
  width:100%;
  text-align: center;
  color: white;
}

div.jumboTitle{
 margin-top: 5%;
}
div.jumboTitle h1{
  font-family: 'Dancing Script', cursive;
    font-size: 10vw;  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



div.jumboTitle p{
  padding: 5vw;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 208, 241);
  font-size: 4vw; font-family: 'Fira Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
}
.topNav{
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.example{
  max-width: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.examplePic{
  width: 30%;
  margin: 1vw;
  overflow: hidden;
  text-align: center;
  border: 1px white solid;
}

.carouselImage{
  width: auto;
  height: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

img{
  max-width: 100%;
  height: auto;
}

.form{
  margin-top: 3vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.footer{
  border-top: orangered 1px solid;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: x-large;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: orangered;
  background-color: #fde9d7 ;
}

