@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
.captions{
    margin-top: 20px;
    text-align: center;
    border: 1px solid  #9b846e;
    background: #e6dac8;
    color: #9b846e;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    width: 100%;
    height: auto
}

.carousel-indicators{
    margin-bottom: 50px;
}

.carouselImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

